最外层容器*/
.jd_container{
	width: 100%;
	min-height: 800px;
	background: #eee;
}

/*顶部通栏start*/
.jd_header{

	height: 40px;
	width: 100%;
	background-color: rgb(201,21,35);
	position: fixed;
	z-index:99;

	/*搜索框左右距父盒子的边距不随设备的分辨率变化而变化*/
	/*给内边距把搜索框挤进去*/
	padding: 0 60px 0 70px;
}
.jd_header .header_logo{
	width: 60px;
	height: 36px;
	position: absolute;
	left: 5px;
	top: 2px;
	background-image: url('../images/sprites.png');
	background-repeat: no-repeat;
	background-position: 0 -103px;
	/*设置背景图片的大小  压缩*/
	-webkit-background-size: 200px 200px;
	
}
.jd_header .header_search{
	/*搜索框左右距父盒子的边距不随设备的分辨率变化而变化*/
	/*由于容器盒子为boder-box,给内边距把搜索框挤进去*/
	width: 100%;
	height: 36px;
	margin-top: 2px;
	border-radius: 18px;
	/*将文字挤到搜索符号span后面*/
	padding-left: 25px;
}
.jd_header .header_glass{
	width: 20px;
	height: 20px;
	background-image: url('../images/sprites.png');
	background-repeat: no-repeat;
	background-position: -60px -109px;
	/*设置背景图片的大小  压缩*/
	-webkit-background-size: 200px 200px;
	position: absolute;
	left:75px;
	top:10px;
}
.jd_header .header_login{
	position: absolute;
	right:10px;
	top: 0;
	line-height: 40px;
	color:white;
	font-size: 17px;
}
/*顶部通栏end*/

/*顶部轮播图start*/
.jd_banner{
	width: 100%;
	overflow: hidden;
	/*为索引添加position*/
	position: relative;
}
.jd_banner .banner_img{
	/*共十张图片*/
	width: 1000%;	
}
.jd_banner .banner_img li{
	float: left;
	/*父盒子的十分之一*/
	width: 10%;
	/*list-style: none;*/
}
.jd_banner .banner_img li a{
	display: block;
	width: 100%;
}
.jd_banner .banner_img li a img{
	display: block;
	width: 100%;
}
.jd_banner .banner_index{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -44px;
}
.jd_banner .banner_index li{
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border:1px solid white;
	margin-left: 5px;
}
/*并集选择器 li中有current类的元素 之间没有空格*/
.jd_banner .banner_index li.current{
	background-color: white;
}
/*顶部轮播图end*/

/*导航栏start*/
.jd_nav{
	width: 100%;
	border-bottom: 1px solid #ccc ;
	padding-bottom: 20px;
	background-color: white;
}
.jd_nav ul{
	width:100%;
}
.jd_nav ul li{
	width: 25%;
	float: left;
	padding-top: 10px;
}
.jd_nav ul li a{
	width: 100%;
	display: block;
}
.jd_nav ul li a img{
	width: 50%;
	display: block;
	margin: 0 auto;
}
.jd_nav ul li a p{
	color: gray;
	text-align: center;
	padding-top: 5px;
}

/*导航栏end*/

/*主要内容start*/
.jd_main{
	width: 100%;
	padding: 0 5px;
	margin-top:10px;

}
.jd_main .main_content{
	width:100%;
	background-color: white;
	min-height: 150px;
	margin-bottom: 10px;
	/*盒子阴影 水平位移 垂直位移 模糊程度 颜色*/
	box-shadow:0 0 2px gray;

}
.jd_main .main_content .content_top{
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #ccc;
}
.jd_main .main_content .content_bottom{
	width: 100%;
}
.jd_main .main_content:nth-child(1) .content_top{
	border-bottom: none;
}
.jd_main .main_content:nth-child(1) .content_top span{
	background-image: url(../images/seckill-icon.png);
	-webkit-background-size: 20px 25px;
	float: left;
	width: 20px;
	height: 25px;
	margin: 3.5px 0 0 5px;
}
.jd_main .main_content:nth-child(1) .content_top p{
	color: rgb(201,21,35);
	margin-left: 5px;
	line-height: 32px;
	float: left;

}
.jd_main .main_content:nth-child(1) .content_top ul{
	height: 32px;
	padding-top: 8.5px;
}
.jd_main .main_content:nth-child(1) .content_top ul li{
	float: left;
	background-color: black;
	height: 15px;
	width: 15px;
	color: white;
	margin-left:3px;
	line-height: 15px;
	text-align: center;
}
.jd_main .main_content:nth-child(1) .content_top ul li:nth-child(3n){
	background-color: transparent;
	color: black;
}
.jd_main .main_content:nth-child(1) .content_top a{	
	color: gray;
	line-height: 32px;
	margin-right: 5px;
}
.jd_main .main_content:nth-child(1) .content_bottom {
	width: 100%
}
.jd_main .main_content:nth-child(1) .content_bottom ul{
	width: 100%;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li{
	float: left;
	/*保证零头不形象布局*/
	width: 33.33333%;	
}
.jd_main .main_content:nth-child(1) .content_bottom ul li a{
	display: block;
	width: 100%;
	/*图片中间的竖线*/
	border-right: 1px solid gray;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li:last-child a{
	border-right:none;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li a img{
	display: block;
	/*压缩图片*/
	width: 60%;
	margin: 0 auto;
}
/*a标签与p标签平级 所以p从2开始*/
.jd_main .main_content:nth-child(1) .content_bottom ul li p{
	text-align: center;
	padding-top: 3px;
	font-size: 12px;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li p:nth-child(2){
	color:rgb(201,21,35);
}
.jd_main .main_content:nth-child(1) .content_bottom ul li p:nth-child(3){
	color:black;
	text-decoration: line-through;
}
/*除开第一个的主要区域盒子*/
.jd_main .main_content:nth-child(n+2) .content_top span{
	color:rgb(201,21,35);
	line-height: 32px;
	margin-left: 15px;
	position: relative;
}
.jd_main .main_content:nth-child(n+2) .content_top span::before{
	content:'';
	position: absolute;
	height: 15px;
	width: 5px;
	background-color: rgb(201,21,35);
	left: -10px;
	top:8.5px;
}
.jd_main .main_content:nth-child(n+2) .content_bottom{
	width: 100%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul{
	width: 100%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li{
	width: 50%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li a{
	width: 100%;
	display: black;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li a img{
	width: 100%;
	display: black;
}
/*主要内容end*/
