/*最外层容器*/
.jd_container{
	width: 100%;
	min-height: 800px;
	background: #eee;
}

/*顶部通栏start*/
.jd_header{

	height: 40px;
	width: 100%;
	background-color: rgb(201,21,35);
	position: fixed;
	z-index:99;

	/*搜索框左右距父盒子的边距不随设备的分辨率变化而变化*/
	/*给内边距把搜索框挤进去*/
	padding: 0 60px 0 70px;
}
.jd_header .header_logo{
	width: 60px;
	height: 36px;
	position: absolute;
	left: 5px;
	top: 2px;
	background-image: url('../images/sprites.png');
	background-repeat: no-repeat;
	background-position: 0 -103px;
	/*设置背景图片的大小  压缩*/
	-webkit-background-size: 200px 200px;
	
}
.jd_header .header_search{
	/*搜索框左右距父盒子的边距不随设备的分辨率变化而变化*/
	/*由于容器盒子为boder-box,给内边距把搜索框挤进去*/
	width: 100%;
	height: 36px;
	margin-top: 2px;
	border-radius: 18px;
	/*将文字挤到搜索符号span后面*/
	padding-left: 25px;
}
.jd_header .header_glass{
	width: 20px;
	height: 20px;
	background-image: url('../images/sprites.png');
	background-repeat: no-repeat;
	background-position: -60px -109px;
	/*设置背景图片的大小  压缩*/
	-webkit-background-size: 200px 200px;
	position: absolute;
	left:75px;
	top:10px;
}
.jd_header .header_login{
	position: absolute;
	right:10px;
	top: 0;
	line-height: 40px;
	color:white;
	font-size: 17px;
}
/*顶部通栏end*/

/*顶部轮播图start*/
.jd_banner{
	width: 100%;
	overflow: hidden;
	/*为索引添加position*/
	position: relative;
}
.jd_banner .banner_img{
	/*共十张图片*/
	width: 1000%;	
}
.jd_banner .banner_img li{
	float: left;
	/*父盒子的十分之一*/
	width: 10%;
	/*list-style: none;*/
}
.jd_banner .banner_img li a{
	display: block;
	width: 100%;
}
.jd_banner .banner_img li a img{
	display: block;
	width: 100%;
}
.jd_banner .banner_index{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -44px;
}
.jd_banner .banner_index li{
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border:1px solid white;
	margin-left: 5px;
}
/*并集选择器 li中有current类的元素 之间没有空格*/
.jd_banner .banner_index li.current{
	background-color: white;
}
/*顶部轮播图end*/

/*导航栏start*/
.jd_nav{
	width: 100%;
	border-bottom: 1px solid #ccc ;
	padding-bottom: 20px;
	background-color: white;
}
.jd_nav ul{
	width:100%;
}
.jd_nav ul li{
	width: 25%;
	float: left;
	padding-top: 10px;
}
.jd_nav ul li a{
	width: 100%;
	display: block;
}
.jd_nav ul li a img{
	width: 50%;
	display: block;
	margin: 0 auto;
}
.jd_nav ul li a p{
	color: gray;
	text-align: center;
	padding-top: 5px;
}

/*导航栏end*/